body {
    font-family: 'Poppins', serif;
    background-color: #f1f1f1;
    background-image: url(../images/concrete_seamless.png);
}

@keyframes logo {
    0% {
        width: 25px;
        opacity: 0;
    }
    100% {
        width: 475px;
        opacity: 1;
    } 
}

header {
    display: flex;
    flex-direction: column;
}

header img {
    animation-name: logo;
    animation-duration: 5s;
}

nav {
    align-self: center;
}


nav a, a:visited {
    color: blue;
    align-self: flex-start;
}

.nav_links {
    display: flex;
    flex-direction: column;
}


.card > header {
    display: flex;
    flex-direction: column;
    background-color: #288088;
    border-width: 2px;
    border-style: solid;
    border-color: #45ADAD;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
}

.card > h3 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 450px;
    align-self: center;
    justify-self: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 50px;
}

.pricing {
    display: flex;
    justify-items: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.gallery img {
    border-color: #50c7c7;
    border-style: solid;
    border-width: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
}

@media (prefers-reduced-motion) {
    header img {
        animation: none;
    }
}

@media screen and (min-width: 900px) {
    body > header {
        position: fixed;
        top: 0;
        width: 100%;
    }

    main {
        margin-top: 100px;
    }

    header {
        flex-direction: row;
        align-items: center;
    }

    nav {
        margin-left: auto;
    }

    .nav_links {
        flex-direction: row;
    }

    .card {
        flex-basis: 275px;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        width: 100%;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .pricing {
        align-content: flex-end;
    }

    .card {
        border-color: #45ADDD;
        border-width: 2px;
        border-style: solid;
        flex-basis: 325px;
    }

    .gallery, #gallery {
        display: none;
    }

    .card > ul li:nth-child(2)::after {
        content: "\1F44D";
    }
}
